<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{$title|default="灵盾网"}</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/">题目</a></li>
                    <li><a href="/ranking" target="_blank" >排名</a></li>
                    <li><a href="/score">我的成绩</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><span class="navbar-brand">用户:{$Think.session.user|default=""}</span></li>
                    <li><a href="/outlogin" style="color: #bb0000;">退出登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>