{include file="index:top"}

<style>
    body {
        background-color: #191d23;
        width: 100%;
        height: 100%;
        color: #FFFFFF;
    }
    .top {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0%;
        z-index: -9999;
    }
    .bom {
        width: 100%;
        height: 100%;
    }
    .footer {
        position: relative;
        display: inline-block;
    }
    .code {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    .title{
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
    }

    @font-face {
        font-family: daojishi;
        src:url('fonts/RADIOLANDSLIM.ttf');
    }
    .daojishi{
        margin-bottom: 10px;
    }
    .daojishi .string{
        font-size: 15px;
        display: inline;
    }
    .daojishi .time{
        display: inline;
        font-size: 20px;
        font-family: daojishi;
    }

</style>
<img class="top" src="img/top.png">
<p class="title">{$title|default="灵盾网"} - 排行榜</p>
<div class="container">
    <div class="row">
        <div class="col-xs-6 daojishi">
            <p class="string">倒计时：</p>
            <p class="time" ></p>
        </div>
        <div class="col-xs-6">
            <p style="display: inline;">最新动态：</p>
            <p id="dongtai" style="display: inline; color: #FF5722">暂无动态</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>排名</th>
                <th>用户名</th>
                <th>解题数</th>
                <th>当前分数</th>
            </tr>
            </thead>
            <tbody>
            {volist name="rankingLog" id="vo"}

            <tr{if condition="$vo.uid == $Think.session.userID"} class="success" style="color: #000;"{/if}>
                <th>{$vo.rownum}</th>
                <td>{:IdGetName($vo.uid)}</td>
                <td>{:countScore($vo.uid)}</td>
                <td>{$vo.score}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>

<script>
    ref = setInterval(function(){
        $.ajax({
            type:'get',
            url:"{:url('index/index/getstatus')}",
            datatype:'json',
            success: function (data) {
                if(data.code === 200){
                    $('#dongtai').css({'color' : '#66ccff'});
                    var html = data.username+'答对'+data.answer+'获得'+data.score+'分';
                    $('#dongtai').html(html);
                }else {
                    $('#dongtai').css({'color' : '#FF5722'});
                    $('#dongtai').html(data.msg);
                }
            },
            error: function () {
                $('#dongtai').css({'color' : '#FF5722'});
                $('#dongtai').html('最新动态获取失败');
            }
        });
    },4000);


    var intDiff = 0;
    $.ajax({
        type:'get',
        url:'/api/getstarttime',
        async: false,
        datatype:'json',
        success:function(data){
            if(!data){
                alert('时间数据错误');
            }
            intDiff = parseInt(data.left_time);
            timer(intDiff);
        },
        error:function(){
            alert('时间获取失败,请重新页面重试');
        }
    });
    function timer(intDiff) {
        window.setInterval(function () {
            var day = 0,
                hour = 0,
                minute = 0,
                second = 0; //时间默认值
            if (intDiff > 0) {
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (hour <= 9) hour = '0' + hour;
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            var time = hour + ':' + minute + ':' + second;
            $('.time').html(time);
            intDiff--;
        }, 1000);
    }
</script>
<!--底部版权-->
<footer class="footer" >
    <div class="img-group">
        <img class="bom" src="img/bom.png">
        <div class="code">
            <p>CopyRight 2018 灵盾网 版权所有。<a href="/admin.php">后台管理</a></p>
        </div>
    </div>
</footer>
</body>
</html>