{include file="index:top"}
<div class="container">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-6" style="border-right:1px solid #ddd;">
            <div class="well col-md-10">
                <h3>用户注册</h3>
                <form name="login" action="{:url('index/login/reg')}" method="post" onsubmit="return verification();">
                    <input type="hidden" name="token" value="{$_token}">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                        <input id="user" name="user" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                    </div>
                    <br />
                    <div class="input-group input-group-md">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" name="password" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
                    </div>
                    <br />
                    <div id="embed-captcha"></div>
                    <br />
                    <button type="submit" class="btn btn-success btn-block">注册</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <h3>欢迎来到{$title}</h3>
            <ul>
                {$tips|default=""}
                <br />
                <li style="color: #ff0000;"><a href="{:url('index/login/login')}">已有账号?点击登录</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    var enableGeetest = true,
        captcha = null;
    var handlerEmbed = function (captchaObj) {
        captcha = captchaObj;
        captchaObj.appendTo("#embed-captcha");
    };
    $.ajax({
        url: "{:url('index/login/StartCaptchaServlet')}?t=" + (new Date()).getTime(),
        type: "get",
        dataType: "json",
        success: function (data) {
            if(data === null){
                enableGeetest = false;
                return true
            } else if(data.success === 1){
                initGeetest({
                    gt: data.gt,
                    challenge: data.challenge,
                    new_captcha: data.new_captcha,
                    product: "float",
                    offline: !data.success
                }, handlerEmbed);
                return true;
            }
            alert("极验加载失败,请刷新重试");
        },
        error: function () {
            alert("系统内部错误");
        }
    });
    function verification(){
        var user = $("#user").val();
        var pass = $("#password").val();
        if(user.length==0 || pass.length==0){
            alert('用户/密码不能为空');
            return false;
        }
        if(enableGeetest){
            var result = captcha.getValidate();
            if (!result) {
                alert("请先完成验证");
                return false;
            }
        }
        return true;
    }
</script>
<script src="http://static.geetest.com/static/tools/gt.js"></script>
{include file="index:bottom"}