{include file="admin:top"}
<script src="__PUBLIC__/js/bootstrap-table.min.js"></script>
<link href="__PUBLIC__/css/bootstrap-table.min.css" rel="stylesheet" />
<script src="__PUBLIC__/js/bootstrap-table-zh-CN.min.js"></script>
<div class="container">
    <div class="panel panel-default">
        <table id="userlist" class="table table-bordered"></table>
    </div>
</div>

<!-- 用户信息编辑 -->
<div class="modal fade" id="userinfo" tabindex="-1" role="dialog" aria-labelledby="info">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="info">编辑用户信息</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" placeholder="用户名" disabled>
                </div>
                <div class="form-group">
                    <label for="repass">新密码(留空为不需要改密码)</label>
                    <input type="password" class="form-control" id="repass" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="uinfo">用户info信息</label>
                    <textarea id="uinfo" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>
                        <input id="isadmin" name="isadmin" type="checkbox"> 是否为管理员
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="save" type="button" class="btn btn-primary" >保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    var id = 0;
    //渲染表格
    $('#userlist').bootstrapTable({
        cache: false,
        url:"{:url('index/admin/getuserlist')}",
        //分页方式：client客户端分页，server服务端分页
        sidePagination: "client",
        search: true,
        showToggle:true,
        cardView: false,
        pageSize: 10,
        pageNumber: 1,
        pageList: "[10,20,30,40,50,100]",
        pagination: true,
        uniqueId: "id",
        showColumns: true,
        showRefresh: true,
        formatNoMatches: function(){
            return "没有相关的匹配结果";
        },
        columns: [{field: 'id', title: '用户ID',sortable : true},
            {field: 'user', title: '用户名', sortable : true},
            {field: 'password', title: '密码'},
            {field: 'isadmin', title: '是否为管理员',sortable : true},
            {field: 'login_time', title: '登录时间'},
            {field: 'login_ip', title: '登录IP'},
            {field: 'info', title: 'info'},
            {field: 'action', title: '操作', formatter: action}
            ]
    });

    //操作栏
    function action(value, row, index) {
        var result = "";
        result += '<button style="margin-right: 10px;" type="button" data-id="'+row.id+'" onclick="edituser(this)" class="btn btn-info"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>编辑用户</button>';
        result += '<button type="button" data-id="'+row.id+'" onclick="deluser(this)" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>删除用户</button>';
        return result;
    }

    function deluser(obj) {
        var id = $(obj).data('id');
        $.ajax({
            url:"{:url('index/admin/deluser')}",
            type:'post',
            data:{uid:id},
            datatype:'json',
            success:function(data){
                alert(data.msg);
                $("#userlist").bootstrapTable('refresh');
            },
            error:function(){
                alert('系统错误,请重新尝试');
            }

        });
    }
    function edituser(obj) {
        id = $(obj).data('id');
        $('#save').prop('disabled', true);
        $('#userinfo').modal('show');
    }

    $('#userinfo').on('shown.bs.modal', function (e) {
        $('#username').val('正在获取');
        $('#uinfo').val('正在获取');
        $('#isadmin').prop('checked', false);
        $.ajax({
            url: "{:url('index/admin/getuserinfo')}",
            data: {
                uid:id
            },
            datatype:'json',
            type:'post',
            success: function (data) {
                if(data.code === 200){
                    $('#username').val(data.data.user);
                    $('#uinfo').val(data.data.info);
                    if(data.data.isadmin == 1){
                        $('#isadmin').prop('checked',true);
                    }else {
                        $('#isadmin').prop('checked', false);
                    }
                    $('#save').prop('disabled', false);
                    return true;
                }
                alert(data.msg);
            },
            error:function () {
                alert('系统错误,请重新尝试');
            }
        });
    })

    $('#save').click(function () {
        if ($('#isadmin').prop("checked")) {
            var isadmin = 1;
        }else{
            var isadmin = 0;
        }
        var data = {
            'uid': id,
            'isadmin': isadmin,
            'repass': $('#repass').val(),
            'info': $('#uinfo').val()
        };
        $.ajax({
            url: "{:url('index/admin/updateuser')}",
            data: data,
            type: 'post',
            datatype:'json',
            success: function (data_info) {
                alert(data_info.msg);
                $('#userinfo').modal('hide');
                $("#userlist").bootstrapTable('refresh');
            },
            error: function () {
                alert('系统错误,请重新尝试');
            }
        });
    });
</script>